@import url(./styles/header.css);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "DM Sans";
  font-style: normal;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f2f2f2;
  background-image: url(./assets/images/MaskGroup.png);
  /* background-position: center;
  background-size: cover; */
  background-repeat: no-repeat;
}

.burger {
  display: none;
}

.header {
  width: 95%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
}

.logo {
  width: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo__img {
  max-width: 100px;
  width: 100%;
}

.logo__name {
  font-size: 26px;
  font-weight: 500;
  color: #ffffff;
}

.menu {
  list-style-type: none;
  color: #ffffff;
  display: flex;
  justify-content: center;
  gap: 30px;
  font-weight: 700;
  font-size: 16px;
  line-height: 100%;
}

.button {
  width: 185px;
  height: 61px;
  color: #57b3fe;
  background-color: #ffffff;
  border-radius: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  text-transform: uppercase;
}

.title {
  font-weight: 500;
  font-size: 48px;
  line-height: 122%;
}


.small {
  font-weight: 700;
  font-size: 12px;
  line-height: 122%;
  opacity: 0.5;
  letter-spacing: 0.15em;
  text-transform: uppercase;
}

.subTitle {
  font-weight: 700;
  font-size: 22px;
  line-height: 30px;
  color: #3b3e43;
}

.small--features{
  color: #00A077;
}

.button:hover {
  background-color: black;
  color: white;
  transition: 0.3s;
}

#toggle {
  display: none;
}

.burger-icon {
  width: 40px;
}

.burger--line {
  display: block;
  width: 30px;
  height: 2px;
  position: relative;
  background-color: #ffffff;
}


.burger-menu {
  width: 150px;
  height: 200px;
  background-color: white;
  list-style-type: none;
  border: 1px solid;
  display: none;
  color: #57b3fe;
  cursor: pointer;
}

.wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  margin-top: 80px;
  /* padding: 0 10px; */
}

.section-wrapper{
  max-width: 1200px;
  width: 100%;
  padding: 15px;
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.wrapper__title {
  max-width: 1080px;
  width: 100%;
  font-weight: 500;
  font-size: 68px;
  line-height: 120%;
  text-align: center;
  color: #ffffff;
}

.wrapper__description {
  font-weight: 400;
  font-size: 20px;
  line-height: 34px;
  text-align: center;
  color: #ffffff;
  opacity: 0.8;
  margin-bottom: 10px;
}

.wrapper__tablet {
  max-width: 1235px;
  width: 100%;
  padding: 0 10px;
}

.section {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.section--features {
  width: 100%;
  background-image: url(./assets/images/bg1.png);
  background-position: center;
  background-size: cover;
  align-items: center;
}

.block__description{
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #595E64;
}

.container {
  /* max-width: 1200px; */
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  /* padding: 10px; */
  /* margin: 0 auto; */
  justify-content: center;
}

.block {
  display: flex;
  flex-direction: column;
  gap: 15px;
  border-radius: 15px;
}

.block__logo {
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
}

.block__logo--bg1 {
  background-color: #ffe7db;
}

.block__logo--bg2{
  background-color: #C0F2EF;
}

.block__logo--bg3{
  background-color: #FAF3D8;
}

.block__logo--bg4{
  background-color: #C0F2EF;
}

.block__logo--bg5{
  background-color: #EDE7F2;
}

.block__logo--bg6{
  background-color: #D8F0FA;
}



.features-block {
  max-width: 365px;
  width: 100%;
  padding: 50px 40px;
  background-color: #ffffff;
}

.features-block__span {
  font-weight: bold;
}

.title--features{
  max-width: 528px;
  width: 100%;
}

@media screen and (max-width: 1200px) {
  .header {
    width: 98%;
  }
  .logo {
    width: 200px;
  }
  .logo__name {
    font-size: 20px;
  }

  .logo__img {
    max-width: 70px;
  }

  .button {
    width: 120px;
    height: 50px;
    font-size: 14px;
  }

  .menu {
    font-size: 13px;
    gap: 20px;
  }
}

@media screen and (max-width: 900px) {
  .wrapper__title {
    font-size: 50px;
  }
  .burger {
    display: block;
  }

  .button-header {
    display: none;
  }

  .menu {
    display: none;
  }

  #toggle:checked ~ .burger-menu {
    display: block;
    position: absolute;
    right: 0;
    top: 60px;
    transition: all 0.5s;
  }
}

@media screen and (max-width: 600px) {
  .wrapper__title {
    font-size: 40px;
  }

  .title {
    font-size: 35px;
  }
}

/* .logo {
  max-width: 259px;
  width: 100%; 
  display: flex;
  align-items: center;
  justify-content: baseline; 
}

.logo__img{
  width: 90%;
}



.button {
  width: 190px;
  height: 61px;
  color: #57b3fe;
  background-color: #ffffff;
  border-radius: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  text-transform: uppercase;
}


.burger {
  display: none;
}

.span {
  opacity: 0.5;
  font-weight: 700;
  font-size: 12px;
  line-height: 122%;
  letter-spacing: 0.15em;
  text-transform: uppercase;
}




@media screen and (max-width: 1200px) {
  body {
    gap: 300px;
  }


  .menu {
    gap: 20px;
    font-weight: 500;
    font-size: 12px;
  }

}

@media screen and (max-width: 900px) {
  body {
    gap: 100px;
  }

  .menu {
    gap: 10px;
  }
}

@media screen and (max-width: 600px) {
  .menu {
    display: none;
  }

  .burger {
    display: block;
    padding: 20px 0;
  }

 
} */
